In [6]:
print("Hello world")

Hello world

In [7]:
import numpy as np

In [8]:
v = np.arange(9)
v

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [9]:
type(v)

numpy.ndarray

In [10]:
len(v)

9

In [11]:
for item in v:
    print(item)

0
1
2
3
4
5
6
7
8

In [12]:
v[1]

np.int64(1)

In [13]:
v_ = v.reshape(3, 3)
v_

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [14]:
v_.shape

(3, 3)

In [15]:
v_.ndim

2

In [16]:
np.arange(24).reshape(2, 3, 4)

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [17]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
x + 1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [20]:
y = np.arange(10) * 3
y

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [21]:
y - x

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [22]:
import pandas as pd

In [23]:
s = pd.Series(np.random.randint(1000, size=(10,)))
s

0    815
1    899
2    143
3    501
4    630
5    757
6    260
7    162
8    742
9    859
dtype: int64

In [24]:
s.values

array([815, 899, 143, 501, 630, 757, 260, 162, 742, 859])

In [25]:
import string
s = pd.Series(list(string.ascii_uppercase))
s

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
dtype: object

In [26]:
s.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
      dtype=object)

In [31]:
idx = pd.date_range("2025-01-01", periods=len(s), freq="D")
idx

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
               '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
               '2025-01-25', '2025-01-26'],
              dtype='datetime64[ns]', freq='D')

In [32]:
s = pd.Series(list(string.ascii_uppercase), index=idx)
s

2025-01-01    A
2025-01-02    B
2025-01-03    C
2025-01-04    D
2025-01-05    E
2025-01-06    F
2025-01-07    G
2025-01-08    H
2025-01-09    I
2025-01-10    J
2025-01-11    K
2025-01-12    L
2025-01-13    M
2025-01-14    N
2025-01-15    O
2025-01-16    P
2025-01-17    Q
2025-01-18    R
2025-01-19    S
2025-01-20    T
2025-01-21    U
2025-01-22    V
2025-01-23    W
2025-01-24    X
2025-01-25    Y
2025-01-26    Z
Freq: D, dtype: object

In [33]:
s["2025-01-10"]

'J'

In [34]:
s["2025-01-10":"2025-01-17"]

2025-01-10    J
2025-01-11    K
2025-01-12    L
2025-01-13    M
2025-01-14    N
2025-01-15    O
2025-01-16    P
2025-01-17    Q
Freq: D, dtype: object

In [35]:
games_df = pd.read_csv("games.csv")

In [37]:
games_df.head(n=10)

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
0,2000,1,Minnesota Vikings,Chicago Bears,Minnesota Vikings,NaN,Sun,September 3,1:00PM,30,27,374,1,425,1,Vikings,Minnesota,Bears,Chicago
1,2000,1,Kansas City Chiefs,Indianapolis Colts,Indianapolis Colts,NaN,Sun,September 3,1:00PM,27,14,386,2,280,1,Chiefs,Kansas City,Colts,Indianapolis
2,2000,1,Washington Redskins,Carolina Panthers,Washington Redskins,NaN,Sun,September 3,1:01PM,20,17,396,0,236,1,Redskins,Washington,Panthers,Carolina
3,2000,1,Atlanta Falcons,San Francisco 49ers,Atlanta Falcons,NaN,Sun,September 3,1:02PM,36,28,359,1,339,1,Falcons,Atlanta,49ers,San Francisco
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,Baltimore Ravens,NaN,Sun,September 3,1:02PM,16,0,336,0,223,1,Steelers,Pittsburgh,Ravens,Baltimore
5,2000,1,Cleveland Browns,Jacksonville Jaguars,Jacksonville Jaguars,NaN,Sun,September 3,1:02PM,27,7,398,0,249,1,Browns,Cleveland,Jaguars,Jacksonville
6,2000,1,New England Patriots,Tampa Bay Buccaneers,Tampa Bay Buccaneers,NaN,Sun,September 3,1:02PM,21,16,296,1,278,1,Patriots,New England,Buccaneers,Tampa Bay
7,2000,1,New Orleans Saints,Detroit Lions,Detroit Lions,NaN,Sun,September 3,1:03PM,14,10,187,2,252,3,Saints,New Orleans,Lions,Detroit
8,2000,1,New York Giants,Arizona Cardinals,New York Giants,NaN,Sun,September 3,1:04PM,21,16,395,2,355,4,Giants,New York,Cardinals,Arizona
9,2000,1,Dallas Cowboys,Philadelphia Eagles,Philadelphia Eagles,NaN,Sun,September 3,4:05PM,41,14,425,3,167,2,Cowboys,Dallas,Eagles,Philadelphia

In [38]:
games_df.tail()

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
5319,2019,Division,Kansas City Chiefs,Houston Texans,Kansas City Chiefs,NaN,Sun,January 12,3:05PM,51,31,434,1,442,1,Chiefs,Kansas City,Texans,Houston
5320,2019,Division,Green Bay Packers,Seattle Seahawks,Green Bay Packers,NaN,Sun,January 12,6:40PM,28,23,344,0,375,0,Packers,Green Bay,Seahawks,Seattle
5321,2019,ConfChamp,Kansas City Chiefs,Tennessee Titans,Kansas City Chiefs,NaN,Sun,January 19,3:05PM,35,24,404,0,295,0,Chiefs,Kansas City,Titans,Tennessee
5322,2019,ConfChamp,San Francisco 49ers,Green Bay Packers,San Francisco 49ers,NaN,Sun,January 19,6:40PM,37,20,354,0,358,3,49ers,San Francisco,Packers,Green Bay
5323,2019,SuperBowl,Kansas City Chiefs,San Francisco 49ers,Kansas City Chiefs,NaN,Sun,February 2,6:30PM,31,20,397,2,351,2,Chiefs,Kansas City,49ers,San Francisco

In [39]:
games_df["winner"]

0         Minnesota Vikings
1        Indianapolis Colts
2       Washington Redskins
3           Atlanta Falcons
4          Baltimore Ravens
               ...
5319     Kansas City Chiefs
5320      Green Bay Packers
5321     Kansas City Chiefs
5322    San Francisco 49ers
5323     Kansas City Chiefs
Name: winner, Length: 5324, dtype: object

In [40]:
games_df[[ "away_team_name", "home_team_name"]]

     away_team_name home_team_name
0             Bears        Vikings
1             Colts         Chiefs
2          Panthers       Redskins
3             49ers        Falcons
4            Ravens       Steelers
...             ...            ...
5319         Texans         Chiefs
5320       Seahawks        Packers
5321         Titans         Chiefs
5322        Packers          49ers
5323          49ers         Chiefs

[5324 rows x 2 columns]

In [43]:
games_df.loc[1]["winner"]

'Indianapolis Colts'

In [44]:
games_df.loc[10:20]

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
10,2000,1,Oakland Raiders,San Diego Chargers,Oakland Raiders,NaN,Sun,September 3,4:15PM,9,6,233,0,255,4,Raiders,Oakland,Chargers,San Diego
11,2000,1,Miami Dolphins,Seattle Seahawks,Miami Dolphins,NaN,Sun,September 3,4:16PM,23,0,308,1,143,6,Dolphins,Miami,Seahawks,Seattle
12,2000,1,Green Bay Packers,New York Jets,New York Jets,NaN,Sun,September 3,4:20PM,20,16,379,1,211,2,Packers,Green Bay,Jets,New York
13,2000,1,Buffalo Bills,Tennessee Titans,Buffalo Bills,NaN,Sun,September 3,8:35PM,16,13,266,0,172,1,Bills,Buffalo,Titans,Tennessee
14,2000,1,St. Louis Rams,Denver Broncos,St. Louis Rams,NaN,Mon,September 4,9:07PM,41,36,513,3,424,0,Rams,St. Louis,Broncos,Denver
15,2000,2,Minnesota Vikings,Miami Dolphins,Minnesota Vikings,NaN,Sun,September 10,12:00PM,13,7,468,4,209,1,Vikings,Minnesota,Dolphins,Miami
16,2000,2,Cincinnati Bengals,Cleveland Browns,Cleveland Browns,NaN,Sun,September 10,1:00PM,24,7,354,1,318,3,Bengals,Cincinnati,Browns,Cleveland
17,2000,2,Indianapolis Colts,Oakland Raiders,Oakland Raiders,NaN,Sun,September 10,1:00PM,38,31,359,0,462,3,Colts,Indianapolis,Raiders,Oakland
18,2000,2,Tampa Bay Buccaneers,Chicago Bears,Tampa Bay Buccaneers,NaN,Sun,September 10,1:01PM,41,0,327,0,165,4,Buccaneers,Tampa Bay,Bears,Chicago
19,2000,2,Buffalo Bills,Green Bay Packers,Buffalo Bills,NaN,Sun,September 10,1:01PM,27,18,309,1,274,3,Bills,Buffalo,Packers,Green Bay
20,2000,2,Baltimore Ravens,Jacksonville Jaguars,Baltimore Ravens,NaN,Sun,September 10,1:02PM,39,36,331,2,421,4,Ravens,Baltimore,Jaguars,Jacksonville

In [47]:
games_df.describe()

,year,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss
count,5324.000000,5324.000000,5324.000000,5324.000000,5324.000000,5324.000000,5324.000000
mean,2009.527047,27.781555,16.088843,361.635612,1.080203,309.080579,2.167543
std,5.754236,8.830090,8.137451,78.581154,1.037956,84.497085,1.421141
min,2000.000000,3.000000,0.000000,47.000000,0.000000,26.000000,0.000000
25%,2005.000000,21.000000,10.000000,308.000000,0.000000,251.000000,1.000000
50%,2010.000000,27.000000,16.000000,361.000000,1.000000,306.000000,2.000000
75%,2015.000000,34.000000,21.000000,415.000000,2.000000,366.000000,3.000000
max,2019.000000,62.000000,51.000000,653.000000,7.000000,613.000000,8.000000

In [48]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5324 entries, 0 to 5323
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            5324 non-null   int64
 1   week            5324 non-null   object
 2   home_team       5324 non-null   object
 3   away_team       5324 non-null   object
 4   winner          5324 non-null   object
 5   tie             10 non-null     object
 6   day             5324 non-null   object
 7   date            5324 non-null   object
 8   time            5324 non-null   object
 9   pts_win         5324 non-null   int64
 10  pts_loss        5324 non-null   int64
 11  yds_win         5324 non-null   int64
 12  turnovers_win   5324 non-null   int64
 13  yds_loss        5324 non-null   int64
 14  turnovers_loss  5324 non-null   int64
 15  home_team_name  5324 non-null   object
 16  home_team_city  5324 non-null   object
 17  away_team_name  5324 non-null   object
 18  away_team_city  5324 non-null   object
dtypes: int64(7), object(12)
memory usage: 790.4+ KB

In [49]:
games_df.head()

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
0,2000,1,Minnesota Vikings,Chicago Bears,Minnesota Vikings,NaN,Sun,September 3,1:00PM,30,27,374,1,425,1,Vikings,Minnesota,Bears,Chicago
1,2000,1,Kansas City Chiefs,Indianapolis Colts,Indianapolis Colts,NaN,Sun,September 3,1:00PM,27,14,386,2,280,1,Chiefs,Kansas City,Colts,Indianapolis
2,2000,1,Washington Redskins,Carolina Panthers,Washington Redskins,NaN,Sun,September 3,1:01PM,20,17,396,0,236,1,Redskins,Washington,Panthers,Carolina
3,2000,1,Atlanta Falcons,San Francisco 49ers,Atlanta Falcons,NaN,Sun,September 3,1:02PM,36,28,359,1,339,1,Falcons,Atlanta,49ers,San Francisco
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,Baltimore Ravens,NaN,Sun,September 3,1:02PM,16,0,336,0,223,1,Steelers,Pittsburgh,Ravens,Baltimore

In [51]:
sum(games_df["home_team_name"] == "Titans")

163

In [52]:
games_df[games_df["home_team_name"] == "Titans"]

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
22,2000,2,Tennessee Titans,Kansas City Chiefs,Tennessee Titans,NaN,Sun,September 10,1:03PM,17,14,353,3,189,0,Titans,Tennessee,Chiefs,Kansas City
62,2000,5,Tennessee Titans,New York Giants,Tennessee Titans,NaN,Sun,October 1,1:03PM,28,14,436,1,215,4,Titans,Tennessee,Giants,New York
99,2000,7,Tennessee Titans,Jacksonville Jaguars,Tennessee Titans,NaN,Mon,October 16,9:10PM,27,13,409,1,304,2,Titans,Tennessee,Jaguars,Jacksonville
134,2000,10,Tennessee Titans,Pittsburgh Steelers,Tennessee Titans,NaN,Sun,November 5,1:03PM,9,7,364,1,167,3,Titans,Tennessee,Steelers,Pittsburgh
150,2000,11,Tennessee Titans,Baltimore Ravens,Baltimore Ravens,NaN,Sun,November 12,1:03PM,24,23,361,1,286,2,Titans,Tennessee,Ravens,Baltimore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5169,2019,8,Tennessee Titans,Tampa Bay Buccaneers,Tennessee Titans,NaN,Sun,October 27,1:00PM,27,23,246,1,389,4,Titans,Tennessee,Buccaneers,Tampa Bay
5197,2019,10,Tennessee Titans,Kansas City Chiefs,Tennessee Titans,NaN,Sun,November 10,1:00PM,35,32,371,1,530,1,Titans,Tennessee,Chiefs,Kansas City
5229,2019,12,Tennessee Titans,Jacksonville Jaguars,Tennessee Titans,NaN,Sun,November 24,4:05PM,42,20,471,2,369,1,Titans,Tennessee,Jaguars,Jacksonville
5272,2019,15,Tennessee Titans,Houston Texans,Houston Texans,NaN,Sun,December 15,1:00PM,24,21,374,2,432,1,Titans,Tennessee,Texans,Houston
5287,2019,16,Tennessee Titans,New Orleans Saints,New Orleans Saints,NaN,Sun,December 22,1:00PM,38,28,377,0,397,1,Titans,Tennessee,Saints,New Orleans

In [53]:
games_df[games_df["year"] == 2019]

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
5057,2019,1,Chicago Bears,Green Bay Packers,Green Bay Packers,NaN,Thu,September 5,8:20PM,10,3,213,0,254,1,Bears,Chicago,Packers,Green Bay
5058,2019,1,Cleveland Browns,Tennessee Titans,Tennessee Titans,NaN,Sun,September 8,1:00PM,43,13,339,0,346,3,Browns,Cleveland,Titans,Tennessee
5059,2019,1,Minnesota Vikings,Atlanta Falcons,Minnesota Vikings,NaN,Sun,September 8,1:00PM,28,12,269,0,345,3,Vikings,Minnesota,Falcons,Atlanta
5060,2019,1,Philadelphia Eagles,Washington Redskins,Philadelphia Eagles,NaN,Sun,September 8,1:00PM,32,27,436,0,398,0,Eagles,Philadelphia,Redskins,Washington
5061,2019,1,Carolina Panthers,Los Angeles Rams,Los Angeles Rams,NaN,Sun,September 8,1:00PM,30,27,349,1,343,3,Panthers,Carolina,Rams,Los Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5319,2019,Division,Kansas City Chiefs,Houston Texans,Kansas City Chiefs,NaN,Sun,January 12,3:05PM,51,31,434,1,442,1,Chiefs,Kansas City,Texans,Houston
5320,2019,Division,Green Bay Packers,Seattle Seahawks,Green Bay Packers,NaN,Sun,January 12,6:40PM,28,23,344,0,375,0,Packers,Green Bay,Seahawks,Seattle
5321,2019,ConfChamp,Kansas City Chiefs,Tennessee Titans,Kansas City Chiefs,NaN,Sun,January 19,3:05PM,35,24,404,0,295,0,Chiefs,Kansas City,Titans,Tennessee
5322,2019,ConfChamp,San Francisco 49ers,Green Bay Packers,San Francisco 49ers,NaN,Sun,January 19,6:40PM,37,20,354,0,358,3,49ers,San Francisco,Packers,Green Bay
5323,2019,SuperBowl,Kansas City Chiefs,San Francisco 49ers,Kansas City Chiefs,NaN,Sun,February 2,6:30PM,31,20,397,2,351,2,Chiefs,Kansas City,49ers,San Francisco

In [54]:
games_df[(games_df["home_team_name"] == "Titans") & (games_df["year"] == 2019)]

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
5074,2019,2,Tennessee Titans,Indianapolis Colts,Indianapolis Colts,NaN,Sun,September 15,1:00PM,19,17,288,2,243,0,Titans,Tennessee,Colts,Indianapolis
5129,2019,5,Tennessee Titans,Buffalo Bills,Buffalo Bills,NaN,Sun,October 6,1:00PM,14,7,313,1,252,0,Titans,Tennessee,Bills,Buffalo
5158,2019,7,Tennessee Titans,Los Angeles Chargers,Tennessee Titans,NaN,Sun,October 20,4:05PM,23,20,403,1,365,1,Titans,Tennessee,Chargers,Los Angeles
5169,2019,8,Tennessee Titans,Tampa Bay Buccaneers,Tennessee Titans,NaN,Sun,October 27,1:00PM,27,23,246,1,389,4,Titans,Tennessee,Buccaneers,Tampa Bay
5197,2019,10,Tennessee Titans,Kansas City Chiefs,Tennessee Titans,NaN,Sun,November 10,1:00PM,35,32,371,1,530,1,Titans,Tennessee,Chiefs,Kansas City
5229,2019,12,Tennessee Titans,Jacksonville Jaguars,Tennessee Titans,NaN,Sun,November 24,4:05PM,42,20,471,2,369,1,Titans,Tennessee,Jaguars,Jacksonville
5272,2019,15,Tennessee Titans,Houston Texans,Houston Texans,NaN,Sun,December 15,1:00PM,24,21,374,2,432,1,Titans,Tennessee,Texans,Houston
5287,2019,16,Tennessee Titans,New Orleans Saints,New Orleans Saints,NaN,Sun,December 22,1:00PM,38,28,377,0,397,1,Titans,Tennessee,Saints,New Orleans

In [58]:
games_df_2 = pd.read_csv("games.csv")
games_df_2 = games_df_2.set_index(["year", "week"])
games_df_2

                          home_team            away_team               winner  \
year week
2000 1            Minnesota Vikings        Chicago Bears    Minnesota Vikings
     1           Kansas City Chiefs   Indianapolis Colts   Indianapolis Colts
     1          Washington Redskins    Carolina Panthers  Washington Redskins
     1              Atlanta Falcons  San Francisco 49ers      Atlanta Falcons
     1          Pittsburgh Steelers     Baltimore Ravens     Baltimore Ravens
...                             ...                  ...                  ...
2019 Division    Kansas City Chiefs       Houston Texans   Kansas City Chiefs
     Division     Green Bay Packers     Seattle Seahawks    Green Bay Packers
     ConfChamp   Kansas City Chiefs     Tennessee Titans   Kansas City Chiefs
     ConfChamp  San Francisco 49ers    Green Bay Packers  San Francisco 49ers
     SuperBowl   Kansas City Chiefs  San Francisco 49ers   Kansas City Chiefs

                tie  day         date    time  pts_win  pts_loss  yds_win  \
year week
2000 1          NaN  Sun  September 3  1:00PM       30        27      374
     1          NaN  Sun  September 3  1:00PM       27        14      386
     1          NaN  Sun  September 3  1:01PM       20        17      396
     1          NaN  Sun  September 3  1:02PM       36        28      359
     1          NaN  Sun  September 3  1:02PM       16         0      336
...             ...  ...          ...     ...      ...       ...      ...
2019 Division   NaN  Sun   January 12  3:05PM       51        31      434
     Division   NaN  Sun   January 12  6:40PM       28        23      344
     ConfChamp  NaN  Sun   January 19  3:05PM       35        24      404
     ConfChamp  NaN  Sun   January 19  6:40PM       37        20      354
     SuperBowl  NaN  Sun   February 2  6:30PM       31        20      397

                turnovers_win  yds_loss  turnovers_loss home_team_name  \
year week
2000 1                      1       425               1        Vikings
     1                      2       280               1         Chiefs
     1                      0       236               1       Redskins
     1                      1       339               1        Falcons
     1                      0       223               1       Steelers
...                       ...       ...             ...            ...
2019 Division               1       442               1         Chiefs
     Division               0       375               0        Packers
     ConfChamp              0       295               0         Chiefs
     ConfChamp              0       358               3          49ers
     SuperBowl              2       351               2         Chiefs

               home_team_city away_team_name away_team_city
year week
2000 1              Minnesota          Bears        Chicago
     1            Kansas City          Colts   Indianapolis
     1             Washington       Panthers       Carolina
     1                Atlanta          49ers  San Francisco
     1             Pittsburgh         Ravens      Baltimore
...                       ...            ...            ...
2019 Division     Kansas City         Texans        Houston
     Division       Green Bay       Seahawks        Seattle
     ConfChamp    Kansas City         Titans      Tennessee
     ConfChamp  San Francisco        Packers      Green Bay
     SuperBowl    Kansas City          49ers  San Francisco

[5324 rows x 17 columns]

In [59]:
games_df_2.loc[(2007, "7")]

/tmp/ipykernel_12600/965022877.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  games_df_2.loc[(2007, "7")]

                      home_team             away_team                winner  \
year week
2007 7            Buffalo Bills      Baltimore Ravens         Buffalo Bills
     7      Washington Redskins     Arizona Cardinals   Washington Redskins
     7           Miami Dolphins  New England Patriots  New England Patriots
     7           Houston Texans      Tennessee Titans      Tennessee Titans
     7            Detroit Lions  Tampa Bay Buccaneers         Detroit Lions
     7          New York Giants   San Francisco 49ers       New York Giants
     7       New Orleans Saints       Atlanta Falcons    New Orleans Saints
     7       Cincinnati Bengals         New York Jets    Cincinnati Bengals
     7          Oakland Raiders    Kansas City Chiefs    Kansas City Chiefs
     7      Philadelphia Eagles         Chicago Bears         Chicago Bears
     7           Dallas Cowboys     Minnesota Vikings        Dallas Cowboys
     7         Seattle Seahawks        St. Louis Rams      Seattle Seahawks
     7           Denver Broncos   Pittsburgh Steelers        Denver Broncos
     7     Jacksonville Jaguars    Indianapolis Colts    Indianapolis Colts

           tie  day        date    time  pts_win  pts_loss  yds_win  \
year week
2007 7     NaN  Sun  October 21  1:02PM       19        14      242
     7     NaN  Sun  October 21  1:02PM       21        19      160
     7     NaN  Sun  October 21  1:02PM       49        28      443
     7     NaN  Sun  October 21  1:02PM       38        36      422
     7     NaN  Sun  October 21  1:03PM       23        16      278
     7     NaN  Sun  October 21  1:03PM       33        15      279
     7     NaN  Sun  October 21  1:03PM       22        16      310
     7     NaN  Sun  October 21  4:05PM       38        31      395
     7     NaN  Sun  October 21  4:05PM       12        10      290
     7     NaN  Sun  October 21  4:14PM       19        16      386
     7     NaN  Sun  October 21  4:15PM       24        14      381
     7     NaN  Sun  October 21  4:16PM       33         6      289
     7     NaN  Sun  October 21  8:23PM       31        28      324
     7     NaN  Mon  October 22  8:40PM       29         7      384

           turnovers_win  yds_loss  turnovers_loss home_team_name  \
year week
2007 7                 1       308               1          Bills
     7                 1       364               3       Redskins
     7                 1       382               2       Dolphins
     7                 2       333               6         Texans
     7                 0       422               2          Lions
     7                 1       267               4         Giants
     7                 1       334               0         Saints
     7                 1       342               2        Bengals
     7                 1       268               2        Raiders
     7                 0       334               0         Eagles
     7                 2       196               1        Cowboys
     7                 1       221               5       Seahawks
     7                 2       379               3        Broncos
     7                 1       226               3        Jaguars

          home_team_city away_team_name away_team_city
year week
2007 7           Buffalo         Ravens      Baltimore
     7        Washington      Cardinals        Arizona
     7             Miami       Patriots    New England
     7           Houston         Titans      Tennessee
     7           Detroit     Buccaneers      Tampa Bay
     7          New York          49ers  San Francisco
     7       New Orleans        Falcons        Atlanta
     7        Cincinnati           Jets       New York
     7           Oakland         Chiefs    Kansas City
     7      Philadelphia          Bears        Chicago
     7            Dallas        Vikings      Minnesota
     7           Seattle           Rams      St. Louis
     7            Denver       Steelers     Pittsburgh
     7      Jacksonville          Colts   Indianapolis

In [60]:
games_df.head()

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
0,2000,1,Minnesota Vikings,Chicago Bears,Minnesota Vikings,NaN,Sun,September 3,1:00PM,30,27,374,1,425,1,Vikings,Minnesota,Bears,Chicago
1,2000,1,Kansas City Chiefs,Indianapolis Colts,Indianapolis Colts,NaN,Sun,September 3,1:00PM,27,14,386,2,280,1,Chiefs,Kansas City,Colts,Indianapolis
2,2000,1,Washington Redskins,Carolina Panthers,Washington Redskins,NaN,Sun,September 3,1:01PM,20,17,396,0,236,1,Redskins,Washington,Panthers,Carolina
3,2000,1,Atlanta Falcons,San Francisco 49ers,Atlanta Falcons,NaN,Sun,September 3,1:02PM,36,28,359,1,339,1,Falcons,Atlanta,49ers,San Francisco
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,Baltimore Ravens,NaN,Sun,September 3,1:02PM,16,0,336,0,223,1,Steelers,Pittsburgh,Ravens,Baltimore

In [61]:
titans_home_games = games_df["home_team_name"] == "Titans"
titans_away_games = games_df["away_team_name"] == "Titans"
games_in_2019 = games_df["year"] == 2019

games_df[(titans_home_games | titans_away_games) & games_in_2019]

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
5058,2019,1,Cleveland Browns,Tennessee Titans,Tennessee Titans,NaN,Sun,September 8,1:00PM,43,13,339,0,346,3,Browns,Cleveland,Titans,Tennessee
5074,2019,2,Tennessee Titans,Indianapolis Colts,Indianapolis Colts,NaN,Sun,September 15,1:00PM,19,17,288,2,243,0,Titans,Tennessee,Colts,Indianapolis
5089,2019,3,Jacksonville Jaguars,Tennessee Titans,Jacksonville Jaguars,NaN,Thu,September 19,8:20PM,20,7,292,0,340,1,Jaguars,Jacksonville,Titans,Tennessee
5113,2019,4,Atlanta Falcons,Tennessee Titans,Tennessee Titans,NaN,Sun,September 29,1:00PM,24,10,365,0,422,1,Falcons,Atlanta,Titans,Tennessee
5129,2019,5,Tennessee Titans,Buffalo Bills,Buffalo Bills,NaN,Sun,October 6,1:00PM,14,7,313,1,252,0,Titans,Tennessee,Bills,Buffalo
5145,2019,6,Denver Broncos,Tennessee Titans,Denver Broncos,NaN,Sun,October 13,4:25PM,16,0,270,1,204,3,Broncos,Denver,Titans,Tennessee
5158,2019,7,Tennessee Titans,Los Angeles Chargers,Tennessee Titans,NaN,Sun,October 20,4:05PM,23,20,403,1,365,1,Titans,Tennessee,Chargers,Los Angeles
5169,2019,8,Tennessee Titans,Tampa Bay Buccaneers,Tennessee Titans,NaN,Sun,October 27,1:00PM,27,23,246,1,389,4,Titans,Tennessee,Buccaneers,Tampa Bay
5181,2019,9,Carolina Panthers,Tennessee Titans,Carolina Panthers,NaN,Sun,November 3,1:00PM,30,20,370,1,431,3,Panthers,Carolina,Titans,Tennessee
5197,2019,10,Tennessee Titans,Kansas City Chiefs,Tennessee Titans,NaN,Sun,November 10,1:00PM,35,32,371,1,530,1,Titans,Tennessee,Chiefs,Kansas City
5229,2019,12,Tennessee Titans,Jacksonville Jaguars,Tennessee Titans,NaN,Sun,November 24,4:05PM,42,20,471,2,369,1,Titans,Tennessee,Jaguars,Jacksonville
5239,2019,13,Indianapolis Colts,Tennessee Titans,Tennessee Titans,NaN,Sun,December 1,1:00PM,31,17,292,2,391,3,Colts,Indianapolis,Titans,Tennessee
5261,2019,14,Oakland Raiders,Tennessee Titans,Tennessee Titans,NaN,Sun,December 8,4:25PM,42,21,552,1,355,1,Raiders,Oakland,Titans,Tennessee
5272,2019,15,Tennessee Titans,Houston Texans,Houston Texans,NaN,Sun,December 15,1:00PM,24,21,374,2,432,1,Titans,Tennessee,Texans,Houston
5287,2019,16,Tennessee Titans,New Orleans Saints,New Orleans Saints,NaN,Sun,December 22,1:00PM,38,28,377,0,397,1,Titans,Tennessee,Saints,New Orleans
5306,2019,17,Houston Texans,Tennessee Titans,Tennessee Titans,NaN,Sun,December 29,4:25PM,35,14,467,0,301,1,Texans,Houston,Titans,Tennessee
5314,2019,WildCard,New England Patriots,Tennessee Titans,Tennessee Titans,NaN,Sat,January 4,8:15PM,20,13,272,1,307,2,Patriots,New England,Titans,Tennessee
5318,2019,Division,Baltimore Ravens,Tennessee Titans,Tennessee Titans,NaN,Sat,January 11,8:15PM,28,12,300,0,530,3,Ravens,Baltimore,Titans,Tennessee
5321,2019,ConfChamp,Kansas City Chiefs,Tennessee Titans,Kansas City Chiefs,NaN,Sun,January 19,3:05PM,35,24,404,0,295,0,Chiefs,Kansas City,Titans,Tennessee

In [62]:
games_df.head()

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
0,2000,1,Minnesota Vikings,Chicago Bears,Minnesota Vikings,NaN,Sun,September 3,1:00PM,30,27,374,1,425,1,Vikings,Minnesota,Bears,Chicago
1,2000,1,Kansas City Chiefs,Indianapolis Colts,Indianapolis Colts,NaN,Sun,September 3,1:00PM,27,14,386,2,280,1,Chiefs,Kansas City,Colts,Indianapolis
2,2000,1,Washington Redskins,Carolina Panthers,Washington Redskins,NaN,Sun,September 3,1:01PM,20,17,396,0,236,1,Redskins,Washington,Panthers,Carolina
3,2000,1,Atlanta Falcons,San Francisco 49ers,Atlanta Falcons,NaN,Sun,September 3,1:02PM,36,28,359,1,339,1,Falcons,Atlanta,49ers,San Francisco
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,Baltimore Ravens,NaN,Sun,September 3,1:02PM,16,0,336,0,223,1,Steelers,Pittsburgh,Ravens,Baltimore

In [63]:
def get_team_name(team):
    return team.split(" ")[-1]

get_team_name("New England Patriots")

'Patriots'

In [65]:
games_df["win_team_name"] = games_df["winner"].apply(get_team_name)

In [66]:
games_df.head()

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city,win_team_name
0,2000,1,Minnesota Vikings,Chicago Bears,Minnesota Vikings,NaN,Sun,September 3,1:00PM,30,27,374,1,425,1,Vikings,Minnesota,Bears,Chicago,Vikings
1,2000,1,Kansas City Chiefs,Indianapolis Colts,Indianapolis Colts,NaN,Sun,September 3,1:00PM,27,14,386,2,280,1,Chiefs,Kansas City,Colts,Indianapolis,Colts
2,2000,1,Washington Redskins,Carolina Panthers,Washington Redskins,NaN,Sun,September 3,1:01PM,20,17,396,0,236,1,Redskins,Washington,Panthers,Carolina,Redskins
3,2000,1,Atlanta Falcons,San Francisco 49ers,Atlanta Falcons,NaN,Sun,September 3,1:02PM,36,28,359,1,339,1,Falcons,Atlanta,49ers,San Francisco,Falcons
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,Baltimore Ravens,NaN,Sun,September 3,1:02PM,16,0,336,0,223,1,Steelers,Pittsburgh,Ravens,Baltimore,Ravens

In [69]:
games_df.drop("winner", axis=1, inplace=True)

In [70]:
games_df.head()

,year,week,home_team,away_team,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city,win_team_name
0,2000,1,Minnesota Vikings,Chicago Bears,NaN,Sun,September 3,1:00PM,30,27,374,1,425,1,Vikings,Minnesota,Bears,Chicago,Vikings
1,2000,1,Kansas City Chiefs,Indianapolis Colts,NaN,Sun,September 3,1:00PM,27,14,386,2,280,1,Chiefs,Kansas City,Colts,Indianapolis,Colts
2,2000,1,Washington Redskins,Carolina Panthers,NaN,Sun,September 3,1:01PM,20,17,396,0,236,1,Redskins,Washington,Panthers,Carolina,Redskins
3,2000,1,Atlanta Falcons,San Francisco 49ers,NaN,Sun,September 3,1:02PM,36,28,359,1,339,1,Falcons,Atlanta,49ers,San Francisco,Falcons
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,NaN,Sun,September 3,1:02PM,16,0,336,0,223,1,Steelers,Pittsburgh,Ravens,Baltimore,Ravens

In [71]:
def get_loss_team_name(row):
    if row["home_team_name"] == row["win_team_name"]:
        return row["away_team_name"]
    return row["home_team_name"]

In [73]:
games_df["loss_team_name"] = games_df.apply(get_loss_team_name, axis=1)
games_df.head()

,year,week,home_team,away_team,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city,win_team_name,loss_team_name
0,2000,1,Minnesota Vikings,Chicago Bears,NaN,Sun,September 3,1:00PM,30,27,374,1,425,1,Vikings,Minnesota,Bears,Chicago,Vikings,Bears
1,2000,1,Kansas City Chiefs,Indianapolis Colts,NaN,Sun,September 3,1:00PM,27,14,386,2,280,1,Chiefs,Kansas City,Colts,Indianapolis,Colts,Chiefs
2,2000,1,Washington Redskins,Carolina Panthers,NaN,Sun,September 3,1:01PM,20,17,396,0,236,1,Redskins,Washington,Panthers,Carolina,Redskins,Panthers
3,2000,1,Atlanta Falcons,San Francisco 49ers,NaN,Sun,September 3,1:02PM,36,28,359,1,339,1,Falcons,Atlanta,49ers,San Francisco,Falcons,49ers
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,NaN,Sun,September 3,1:02PM,16,0,336,0,223,1,Steelers,Pittsburgh,Ravens,Baltimore,Ravens,Steelers

In [75]:
sum(games_df.apply(lambda row: 1 if row["win_team_name"] == row["loss_team_name"] else 0, axis=1))

0

In [76]:
games_df.drop(["home_team", "away_team", "tie", "day", "date", "time", "yds_win", "turnovers_win", "yds_loss", "turnovers_loss", "home_team_city", "away_team_city"], axis=1, inplace=True)
games_df.head()

,year,week,pts_win,pts_loss,home_team_name,away_team_name,win_team_name,loss_team_name
0,2000,1,30,27,Vikings,Bears,Vikings,Bears
1,2000,1,27,14,Chiefs,Colts,Colts,Chiefs
2,2000,1,20,17,Redskins,Panthers,Redskins,Panthers
3,2000,1,36,28,Falcons,49ers,Falcons,49ers
4,2000,1,16,0,Steelers,Ravens,Ravens,Steelers

In [77]:
titans_wins = games_df["win_team_name"] == "Titans"
games_2019 = games_df["year"] == 2019

titans_wins_2019_df = games_df[titans_wins & games_2019]
titans_wins_2019_df

,year,week,pts_win,pts_loss,home_team_name,away_team_name,win_team_name,loss_team_name
5058,2019,1,43,13,Browns,Titans,Titans,Browns
5113,2019,4,24,10,Falcons,Titans,Titans,Falcons
5158,2019,7,23,20,Titans,Chargers,Titans,Chargers
5169,2019,8,27,23,Titans,Buccaneers,Titans,Buccaneers
5197,2019,10,35,32,Titans,Chiefs,Titans,Chiefs
5229,2019,12,42,20,Titans,Jaguars,Titans,Jaguars
5239,2019,13,31,17,Colts,Titans,Titans,Colts
5261,2019,14,42,21,Raiders,Titans,Titans,Raiders
5306,2019,17,35,14,Texans,Titans,Titans,Texans
5314,2019,WildCard,20,13,Patriots,Titans,Titans,Patriots
5318,2019,Division,28,12,Ravens,Titans,Titans,Ravens

In [80]:
int(titans_wins_2019_df["pts_win"].max())

43

In [81]:
titans_wins_2019_df["pts_win"].argmax()

np.int64(0)

In [82]:
titans_wins_2019_df.iloc[titans_wins_2019_df["pts_win"].argmax()]

year                2019
week                   1
pts_win               43
pts_loss              13
home_team_name    Browns
away_team_name    Titans
win_team_name     Titans
loss_team_name    Browns
Name: 5058, dtype: object

In [83]:
titans_games_2019 = games_df[(titans_home_games | titans_away_games) & games_in_2019]
titans_games_2019

,year,week,pts_win,pts_loss,home_team_name,away_team_name,win_team_name,loss_team_name
5058,2019,1,43,13,Browns,Titans,Titans,Browns
5074,2019,2,19,17,Titans,Colts,Colts,Titans
5089,2019,3,20,7,Jaguars,Titans,Jaguars,Titans
5113,2019,4,24,10,Falcons,Titans,Titans,Falcons
5129,2019,5,14,7,Titans,Bills,Bills,Titans
5145,2019,6,16,0,Broncos,Titans,Broncos,Titans
5158,2019,7,23,20,Titans,Chargers,Titans,Chargers
5169,2019,8,27,23,Titans,Buccaneers,Titans,Buccaneers
5181,2019,9,30,20,Panthers,Titans,Panthers,Titans
5197,2019,10,35,32,Titans,Chiefs,Titans,Chiefs
5229,2019,12,42,20,Titans,Jaguars,Titans,Jaguars
5239,2019,13,31,17,Colts,Titans,Titans,Colts
5261,2019,14,42,21,Raiders,Titans,Titans,Raiders
5272,2019,15,24,21,Titans,Texans,Texans,Titans
5287,2019,16,38,28,Titans,Saints,Saints,Titans
5306,2019,17,35,14,Texans,Titans,Titans,Texans
5314,2019,WildCard,20,13,Patriots,Titans,Titans,Patriots
5318,2019,Division,28,12,Ravens,Titans,Titans,Ravens
5321,2019,ConfChamp,35,24,Chiefs,Titans,Chiefs,Titans

In [84]:
titans_games_2019["pts_win"] - titans_games_2019["pts_loss"]

5058    30
5074     2
5089    13
5113    14
5129     7
5145    16
5158     3
5169     4
5181    10
5197     3
5229    22
5239    14
5261    21
5272     3
5287    10
5306    21
5314     7
5318    16
5321    11
dtype: int64

In [85]:
titans_games_2019.iloc[(titans_games_2019["pts_win"] - titans_games_2019["pts_loss"]).argmax()]

year                2019
week                   1
pts_win               43
pts_loss              13
home_team_name    Browns
away_team_name    Titans
win_team_name     Titans
loss_team_name    Browns
Name: 5058, dtype: object

In [86]:
giants_home_games = games_df["home_team_name"] == "Giants"
giants_away_games = games_df["away_team_name"] == "Giants"
games_in_2007 = games_df["year"] == 2007

giants_games_2013 = games_df[(giants_home_games | giants_away_games) & games_in_2007]
giants_games_2013

,year,week,pts_win,pts_loss,home_team_name,away_team_name,win_team_name,loss_team_name
1866,2007,1,45,35,Cowboys,Giants,Cowboys,Giants
1875,2007,2,35,13,Giants,Packers,Packers,Giants
1898,2007,3,24,17,Redskins,Giants,Giants,Redskins
1913,2007,4,16,3,Giants,Eagles,Giants,Eagles
1917,2007,5,35,24,Giants,Jets,Giants,Jets
1941,2007,6,31,10,Falcons,Giants,Giants,Falcons
1947,2007,7,33,15,Giants,49ers,Giants,49ers
1960,2007,8,13,10,Dolphins,Giants,Giants,Dolphins
1994,2007,10,31,20,Giants,Cowboys,Cowboys,Giants
2004,2007,11,16,10,Lions,Giants,Giants,Lions
2020,2007,12,41,17,Giants,Vikings,Vikings,Giants
2041,2007,13,21,16,Bears,Giants,Giants,Bears
2051,2007,14,16,13,Eagles,Giants,Giants,Eagles
2075,2007,15,22,10,Giants,Redskins,Redskins,Giants
2081,2007,16,38,21,Bills,Giants,Giants,Bills
2093,2007,17,38,35,Giants,Patriots,Patriots,Giants
2111,2007,WildCard,24,14,Buccaneers,Giants,Giants,Buccaneers
2116,2007,Division,21,17,Cowboys,Giants,Giants,Cowboys
2118,2007,ConfChamp,23,20,Packers,Giants,Giants,Packers
2119,2007,SuperBowl,17,14,Giants,Patriots,Giants,Patriots

In [87]:
giants_games_2013.sort_values("week")

,year,week,pts_win,pts_loss,home_team_name,away_team_name,win_team_name,loss_team_name
1866,2007,1,45,35,Cowboys,Giants,Cowboys,Giants
1994,2007,10,31,20,Giants,Cowboys,Cowboys,Giants
2004,2007,11,16,10,Lions,Giants,Giants,Lions
2020,2007,12,41,17,Giants,Vikings,Vikings,Giants
2041,2007,13,21,16,Bears,Giants,Giants,Bears
2051,2007,14,16,13,Eagles,Giants,Giants,Eagles
2075,2007,15,22,10,Giants,Redskins,Redskins,Giants
2081,2007,16,38,21,Bills,Giants,Giants,Bills
2093,2007,17,38,35,Giants,Patriots,Patriots,Giants
1875,2007,2,35,13,Giants,Packers,Packers,Giants
1898,2007,3,24,17,Redskins,Giants,Giants,Redskins
1913,2007,4,16,3,Giants,Eagles,Giants,Eagles
1917,2007,5,35,24,Giants,Jets,Giants,Jets
1941,2007,6,31,10,Falcons,Giants,Giants,Falcons
1947,2007,7,33,15,Giants,49ers,Giants,49ers
1960,2007,8,13,10,Dolphins,Giants,Giants,Dolphins
2118,2007,ConfChamp,23,20,Packers,Giants,Giants,Packers
2116,2007,Division,21,17,Cowboys,Giants,Giants,Cowboys
2119,2007,SuperBowl,17,14,Giants,Patriots,Giants,Patriots
2111,2007,WildCard,24,14,Buccaneers,Giants,Giants,Buccaneers

In [90]:
playoffs = {
    "WildCard": 18,
    "Division": 19,
    "ConfChamp": 20,
    "SuperBowl": 21
}

In [91]:
def get_int_week(week):
    try:
        return int(week)
    except ValueError:
        return playoffs[week]

In [92]:
games_df["int_week"] = games_df["week"].apply(get_int_week)

In [93]:
games_df.head()

,year,week,pts_win,pts_loss,home_team_name,away_team_name,win_team_name,loss_team_name,int_week
0,2000,1,30,27,Vikings,Bears,Vikings,Bears,1
1,2000,1,27,14,Chiefs,Colts,Colts,Chiefs,1
2,2000,1,20,17,Redskins,Panthers,Redskins,Panthers,1
3,2000,1,36,28,Falcons,49ers,Falcons,49ers,1
4,2000,1,16,0,Steelers,Ravens,Ravens,Steelers,1

In [94]:
giants_home_games = games_df["home_team_name"] == "Giants"
giants_away_games = games_df["away_team_name"] == "Giants"
games_in_2007 = games_df["year"] == 2007

giants_games_2007 = games_df[(giants_home_games | giants_away_games) & games_in_2007]
giants_games_2007.sort_values("int_week")[giants_games_2007.columns[:-1]]

,year,week,pts_win,pts_loss,home_team_name,away_team_name,win_team_name,loss_team_name
1866,2007,1,45,35,Cowboys,Giants,Cowboys,Giants
1875,2007,2,35,13,Giants,Packers,Packers,Giants
1898,2007,3,24,17,Redskins,Giants,Giants,Redskins
1913,2007,4,16,3,Giants,Eagles,Giants,Eagles
1917,2007,5,35,24,Giants,Jets,Giants,Jets
1941,2007,6,31,10,Falcons,Giants,Giants,Falcons
1947,2007,7,33,15,Giants,49ers,Giants,49ers
1960,2007,8,13,10,Dolphins,Giants,Giants,Dolphins
1994,2007,10,31,20,Giants,Cowboys,Cowboys,Giants
2004,2007,11,16,10,Lions,Giants,Giants,Lions
2020,2007,12,41,17,Giants,Vikings,Vikings,Giants
2041,2007,13,21,16,Bears,Giants,Giants,Bears
2051,2007,14,16,13,Eagles,Giants,Giants,Eagles
2075,2007,15,22,10,Giants,Redskins,Redskins,Giants
2081,2007,16,38,21,Bills,Giants,Giants,Bills
2093,2007,17,38,35,Giants,Patriots,Patriots,Giants
2111,2007,WildCard,24,14,Buccaneers,Giants,Giants,Buccaneers
2116,2007,Division,21,17,Cowboys,Giants,Giants,Cowboys
2118,2007,ConfChamp,23,20,Packers,Giants,Giants,Packers
2119,2007,SuperBowl,17,14,Giants,Patriots,Giants,Patriots

In [95]:
giants_playoff_games_2007 = giants_games_2007[giants_games_2007["int_week"] > 17]
giants_playoff_games_2007

,year,week,pts_win,pts_loss,home_team_name,away_team_name,win_team_name,loss_team_name,int_week
2111,2007,WildCard,24,14,Buccaneers,Giants,Giants,Buccaneers,18
2116,2007,Division,21,17,Cowboys,Giants,Giants,Cowboys,19
2118,2007,ConfChamp,23,20,Packers,Giants,Giants,Packers,20
2119,2007,SuperBowl,17,14,Giants,Patriots,Giants,Patriots,21

In [96]:
super_bowls = games_df[games_df["int_week"] == playoffs["SuperBowl"]]

In [97]:
super_bowls

,year,week,pts_win,pts_loss,home_team_name,away_team_name,win_team_name,loss_team_name,int_week
258,2000,SuperBowl,34,7,Ravens,Giants,Ravens,Giants,21
517,2001,SuperBowl,20,17,Patriots,Rams,Patriots,Rams,21
784,2002,SuperBowl,48,21,Buccaneers,Raiders,Buccaneers,Raiders,21
1051,2003,SuperBowl,32,29,Patriots,Panthers,Patriots,Panthers,21
1318,2004,SuperBowl,24,21,Patriots,Eagles,Patriots,Eagles,21
1585,2005,SuperBowl,21,10,Steelers,Seahawks,Steelers,Seahawks,21
1852,2006,SuperBowl,29,17,Colts,Bears,Colts,Bears,21
2119,2007,SuperBowl,17,14,Giants,Patriots,Giants,Patriots,21
2386,2008,SuperBowl,27,23,Steelers,Cardinals,Steelers,Cardinals,21
2653,2009,SuperBowl,31,17,Saints,Colts,Saints,Colts,21
2920,2010,SuperBowl,31,25,Packers,Steelers,Packers,Steelers,21
3187,2011,SuperBowl,21,17,Giants,Patriots,Giants,Patriots,21
3454,2012,SuperBowl,34,31,Ravens,49ers,Ravens,49ers,21
3721,2013,SuperBowl,43,8,Seahawks,Broncos,Seahawks,Broncos,21
3988,2014,SuperBowl,28,24,Patriots,Seahawks,Patriots,Seahawks,21
4255,2015,SuperBowl,24,10,Broncos,Panthers,Broncos,Panthers,21
4522,2016,SuperBowl,34,28,Patriots,Falcons,Patriots,Falcons,21
4789,2017,SuperBowl,41,33,Eagles,Patriots,Eagles,Patriots,21
5056,2018,SuperBowl,13,3,Patriots,Rams,Patriots,Rams,21
5323,2019,SuperBowl,31,20,Chiefs,49ers,Chiefs,49ers,21

In [98]:
super_bowls["win_team_name"].value_counts()

win_team_name
Patriots      6
Ravens        2
Steelers      2
Giants        2
Buccaneers    1
Colts         1
Saints        1
Packers       1
Seahawks      1
Broncos       1
Eagles        1
Chiefs        1
Name: count, dtype: int64

In [99]:
from collections import Counter

sb_counter = Counter()

for idx in super_bowls.index:
    row = super_bowls.loc[idx]
    sb_counter[row["win_team_name"]] += 1
    sb_counter[row["loss_team_name"]] += 1

for team, count in sb_counter.most_common():
    print(f"{team}: {count}")

Patriots: 9
Giants: 3
Steelers: 3
Seahawks: 3
Ravens: 2
Rams: 2
Panthers: 2
Eagles: 2
Colts: 2
49ers: 2
Broncos: 2
Buccaneers: 1
Raiders: 1
Bears: 1
Cardinals: 1
Saints: 1
Packers: 1
Falcons: 1
Chiefs: 1

In [100]:
super_bowls_played = pd.Series(sb_counter).sort_values(ascending=False)
super_bowls_played

Patriots      9
Giants        3
Seahawks      3
Steelers      3
Ravens        2
Rams          2
Panthers      2
Eagles        2
Colts         2
49ers         2
Broncos       2
Buccaneers    1
Raiders       1
Bears         1
Cardinals     1
Packers       1
Saints        1
Falcons       1
Chiefs        1
dtype: int64

In [101]:
super_bowls_won = super_bowls["win_team_name"].value_counts()
super_bowls_lost = super_bowls["loss_team_name"].value_counts()

In [103]:
super_bowls_df = pd.concat([super_bowls_played, super_bowls_won, super_bowls_lost], axis=1)
super_bowls_df

            0  count  count
Patriots    9    6.0    3.0
Giants      3    2.0    1.0
Seahawks    3    1.0    2.0
Steelers    3    2.0    1.0
Ravens      2    2.0    NaN
Rams        2    NaN    2.0
Panthers    2    NaN    2.0
Eagles      2    1.0    1.0
Colts       2    1.0    1.0
49ers       2    NaN    2.0
Broncos     2    1.0    1.0
Buccaneers  1    1.0    NaN
Raiders     1    NaN    1.0
Bears       1    NaN    1.0
Cardinals   1    NaN    1.0
Packers     1    1.0    NaN
Saints      1    1.0    NaN
Falcons     1    NaN    1.0
Chiefs      1    1.0    NaN

In [104]:
super_bowls_df.fillna(0, inplace=True) 
super_bowls_df

            0  count  count
Patriots    9    6.0    3.0
Giants      3    2.0    1.0
Seahawks    3    1.0    2.0
Steelers    3    2.0    1.0
Ravens      2    2.0    0.0
Rams        2    0.0    2.0
Panthers    2    0.0    2.0
Eagles      2    1.0    1.0
Colts       2    1.0    1.0
49ers       2    0.0    2.0
Broncos     2    1.0    1.0
Buccaneers  1    1.0    0.0
Raiders     1    0.0    1.0
Bears       1    0.0    1.0
Cardinals   1    0.0    1.0
Packers     1    1.0    0.0
Saints      1    1.0    0.0
Falcons     1    0.0    1.0
Chiefs      1    1.0    0.0

In [105]:
super_bowls_df = super_bowls_df.astype(int)
super_bowls_df

            0  count  count
Patriots    9      6      3
Giants      3      2      1
Seahawks    3      1      2
Steelers    3      2      1
Ravens      2      2      0
Rams        2      0      2
Panthers    2      0      2
Eagles      2      1      1
Colts       2      1      1
49ers       2      0      2
Broncos     2      1      1
Buccaneers  1      1      0
Raiders     1      0      1
Bears       1      0      1
Cardinals   1      0      1
Packers     1      1      0
Saints      1      1      0
Falcons     1      0      1
Chiefs      1      1      0

In [106]:
super_bowls_df.columns = ["played", "won", "lost"]
super_bowls_df

            played  won  lost
Patriots         9    6     3
Giants           3    2     1
Seahawks         3    1     2
Steelers         3    2     1
Ravens           2    2     0
Rams             2    0     2
Panthers         2    0     2
Eagles           2    1     1
Colts            2    1     1
49ers            2    0     2
Broncos          2    1     1
Buccaneers       1    1     0
Raiders          1    0     1
Bears            1    0     1
Cardinals        1    0     1
Packers          1    1     0
Saints           1    1     0
Falcons          1    0     1
Chiefs           1    1     0

In [107]:
super_bowls_df["pct_won"] = round(super_bowls_df["won"] / super_bowls_df["played"], 2)

In [108]:
super_bowls_df

            played  won  lost  pct_won
Patriots         9    6     3     0.67
Giants           3    2     1     0.67
Seahawks         3    1     2     0.33
Steelers         3    2     1     0.67
Ravens           2    2     0     1.00
Rams             2    0     2     0.00
Panthers         2    0     2     0.00
Eagles           2    1     1     0.50
Colts            2    1     1     0.50
49ers            2    0     2     0.00
Broncos          2    1     1     0.50
Buccaneers       1    1     0     1.00
Raiders          1    0     1     0.00
Bears            1    0     1     0.00
Cardinals        1    0     1     0.00
Packers          1    1     0     1.00
Saints           1    1     0     1.00
Falcons          1    0     1     0.00
Chiefs           1    1     0     1.00

In [109]:
super_bowls_df.sort_values(["pct_won", "played"], ascending=False)

            played  won  lost  pct_won
Ravens           2    2     0     1.00
Buccaneers       1    1     0     1.00
Packers          1    1     0     1.00
Saints           1    1     0     1.00
Chiefs           1    1     0     1.00
Patriots         9    6     3     0.67
Giants           3    2     1     0.67
Steelers         3    2     1     0.67
Eagles           2    1     1     0.50
Colts            2    1     1     0.50
Broncos          2    1     1     0.50
Seahawks         3    1     2     0.33
Rams             2    0     2     0.00
Panthers         2    0     2     0.00
49ers            2    0     2     0.00
Raiders          1    0     1     0.00
Bears            1    0     1     0.00
Cardinals        1    0     1     0.00
Falcons          1    0     1     0.00